HTML CSSResult Skip Results Iframe
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background: pink;
    height: 100vh;
    width: 100%;
}
h2{
    color: #56a5eb;
}
a{
    color: #56a5eb;

}

.totalbox{
    width: 40%;
    height: auto;

    margin: auto;
    padding: 10px 30px; 
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
}

.boxcheckbox{
margin-top: 10px;
}

button{
margin-top: 10px;
}

i{
    color: red;
    margin-top: 10px;
   
}
span{
    margin-top:  50px;
    color: #56a5eb;
}
.loginbtn{
    background: #56a5eb;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}
.loginbtn:hover,
.loginbtn:focus{
    background: #56a5eb;
}

.boxcheckbox label{
    font-size: 12px;
    font-weight: 300;
}


@media only screen and (max-width: 600px) {
    .totalbox{
        width: 90%;
    }
  }